@model Course.Models.Creative

@{
    <link rel="stylesheet" type="text/css" href="~/Content/edit.css" />
    <link href="~/Content/jquery.tagit.css" rel="stylesheet" type="text/css">
    <link href="~/Content/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
    <link href="~/Content/simplemde.min.css" rel="stylesheet" type="text/css">
}

<br />

<div id="page_header" class="row">
    <div id="back_button" class="col-md-3">
        <a href="/User/Index" class="btn btn-success">
            <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
        </a>
    </div>

    <div id="creative_name_block" class="col-md-9">
        @using (Html.BeginForm())
        { 
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="creative_name_input">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { autocomplete = "off", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div id="creative_name_edit">
                <button type="button" class="btn btn-github" id="edit_creative_name_button">
                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                </button>
            </div>
        }
    </div>
</div>




 <div>
    <button type="button" class="btn btn-github" id="add_header">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </button>
</div>
<div id="headers_with_content" class="row">
    <div id="headers" class="col-md-3">
        <ul id="headers_list" class="list-group">
            @foreach (var header in Model.Headers)
            {
                <li class="header list-group-item" value="@header.Id">
                    @Model.Headers.IndexOf(header) @header.Name @header.Id
                </li>
            }
        </ul>
    </div>
    
    @if (Model.Headers.Count > 0)
    {
        <div id="header_content" class="col-md-9">
            <h3>@Model.Headers[0].Name</h3>
            <ul id="myTags">
                @foreach (var tag in Model.Headers[0].Tags)
                {
                    <li>@tag.Name</li>
                }
            </ul>
            <textarea id="header_text" class="header_text">@Model.Headers[0].Text</textarea>
        </div>
    }
    else
    {
        <div id="header_content" class="col-md-9"/>
    }
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/simplemde.min.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            var simplemde = new SimpleMDE({
                element: document.getElementById("header_text"),
                spellChecker: false,
            });
            simplemde.codemirror.on("change", function () {
                //console.log(simplemde.value());
            });

            simplemde.codemirror.on("dragstart", function (editor, e) { console.log('dragstart') });
            simplemde.codemirror.on("dragenter", function (editor, e) { console.log('dragenter') });
            simplemde.codemirror.on("dragover", function (editor, e) { console.log('dragover') });
            simplemde.codemirror.on("drop", function (editor, e) { console.log('drop') });

            var myArray = [];

             @foreach (var tag in ViewBag.Tags)
            {
                @:myArray.push("@tag");
            }
            $('#myTags').tagit({
                availableTags: myArray
            });
            $("#headers_list").sortable({
                axis:'y'
            });
            $('.header').click(function () {
                var index = $(this).val();
                $.ajax({
                    async: false,
                    data: { id: index },
                    url: '/User/SetHeaderContext'
                }).success(function (header) {
                    //$('#header_content').replaceWith(partialView);
                    var headerJson = JSON.parse(header);
                    console.log(headerJson);
                    simplemde.value(headerJson.Text);
                    $('#header_content h3').html(headerJson.Name);

                    $("#myTags").tagit("removeAll");
                    headerJson.Tags.forEach(function (item, i, arr) {
                        $("#myTags").tagit("createTag", item);
                    });
                });
            });
            $("#edit_creative_name_button").on('click', function () {

                var creative_name = $('#Name').val();
                var data = {Id:@Model.Id, Name: creative_name };

                $.ajax({
                    type: 'POST',
                    async: false,
                    data: data,
                    url: '/User/ChangeCreativeName'
                }).success(function (id) {
                    window.location.reload(true);
                    //window.location.href = "/User/Edit/" + id;
                });
                //console.log("--text--" + name);
            });
            $("#add_header").on('click', function () {
                @{
                    var newHeader = new Course.Models.Header();
                    Model.Headers.Add(newHeader);
                }
                @*$.ajax({
                    async: false,
                    data: { id: "@Model.Id" },
                    url: '/User/AddHeader'
                }).success(function (partialView) {
                    $('#headers_list').append(partialView);
                    $("#headers_list").accordion("refresh");
                });*@
            });

        });
    </script>

     
}
