@using Course.Models;
@{
    ViewBag.Title = "CreativesByTag";
}

@foreach (Header header in ViewBag.Headers)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@header.Name @header.Id @header.Creative.Name @header.Creative.Id</h3>
        </div>
        <div class="panel-body">
            @foreach (Tag tag in header.Tags)
            {
                <p>@tag.Name @tag.Id</p>
            }
            <p>
                @header.Text
            </p>
        </div>
    </div>
        
        <hr/>
}

