@using Course.Models;
@{
    ViewBag.Title = "Home Page";

}

<div align="center" id="myCanvasContainer">
    <canvas width="600" height="400" style="background-color:black;" id="myCanvas">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
        @foreach (Tag tag in ViewBag.Tags)
        {
            @Html.ActionLink(tag.Name, "HeadersByTag", "Home", new { id = tag.Id }, null);
        }
        
    </canvas>
</div>

<div class="row">
    <div id="popularCreative" class="col-md-12">
        <h2>Popular</h2>
        <table class="table table-striped table-hover">
            @foreach (Creative item in ViewBag.PopularCreatives)
            {
                <tr class="success">
                    <td>
                        @Html.DisplayFor(i => item.Id)
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "View", "User", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.ApplicationUser.Email)
                    </td>
                     
                    <td>
                        @Html.DisplayFor(i => item.LastEditTime)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Views)
                    </td>
                    <td>
                        <input class="itemRate" type="hidden" value="@item.Rating" />
                    </td>
                    
                    <td>
                        <div class="rateYo"></div>
                    </td>
                    
                </tr>
            }
        </table>
    </div>
    <div id="lastEditedCreative" class="col-md-12">
        <h2>Last Edited</h2>
        <table class="table table-striped table-hover">
            @foreach (Creative item in ViewBag.LastCreatives)
            {
                <tr class="success">
                    <td>
                        @Html.DisplayFor(i => item.Id)
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "View", "User", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.ApplicationUser.Email)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(i => item.LastEditTime)
                    </td>
                    <td>
                        @Html.DisplayFor(i => item.Views)
                    </td>
                    <td style="border-color:red;
                                border-width:2px;">
                        <input class="itemRate" type="hidden" value="@item.Rating" />
                    </td>
                     
                    <td>
                        <div class="rateYo"></div>
                    </td>
                     
                </tr>
            }
        </table>
    </div>
     
</div>

@section Scripts {
    <script src="~/Scripts/jquery.tagcanvas.min.js" type="text/javascript"></script>
    <script>
        //http://www.goat1000.com/tagcanvas.php
        $(document).ready(function () {
            if (!$('#myCanvas').tagcanvas({
                textColour: '#ffffff',
                outlineThickness: 1,
                maxSpeed: 0.1,
                depth: 0.75,
                clickToFront: 1000
            })) {
                // TagCanvas failed to load
                $('#myCanvasContainer').hide();
            }
            $(".rateYo").rateYo({
                starWidth: "30px",
                halfStar: true,
                onInit: function (rating, rateYoInstance) {
                    var rate = $(this).parent().parent()
                        .find('.itemRate').val().replace(',', '.');
                    console.log("" + rate);
                    $(this).rateYo("option", "rating", rate);
                    $(this).rateYo("option", "readOnly", true);
                }
            });
        });

    </script>
}
