@using Course.Models;
@model IEnumerable<CreativeResult>

@{
    ViewBag.Title = "Search";
}

<div id="searchResult" class="col-md-12">
    <h2>Results:</h2>
    <table class="table table-striped table-hover">
        @foreach (var result in Model)
            {
            <tr class="success">
                <td>
                    @Html.DisplayFor(i => result.CreativeId)
                </td>
                <td>
                    @Html.ActionLink(result.CreativeName, "View", "User", 
                                     new { id = result.CreativeId }, null)
                </td>
                <td>
                    @Html.DisplayFor(i => result.HeaderId)
                </td>
                <td>
                    @Html.ActionLink(result.HeaderName, "View", "User",
                                     new { id = result.CreativeId, selectedHeaderId = result.HeaderId }, null)
                </td>
                <td>
                    @Html.DisplayFor(i => result.UserName)
                </td>

                <td>
                    <input class="itemRate" type="hidden" value="@result.Rating" />
                </td>

                <td>
                    <div class="rateYo"></div>
                </td>

            </tr>
        }
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            
            $(".rateYo").rateYo({
                starWidth: "30px",
                halfStar: true,
                onInit: function (rating, rateYoInstance) {
                    var rate = $(this).parent().parent()
                        .find('.itemRate').val().replace(',', '.');
                    console.log("" + rate);
                    $(this).rateYo("option", "rating", rate);
                    $(this).rateYo("option", "readOnly", true);
                }
            });
        });

    </script>
}






 



